@using RecruitmentTask.Core
@model IEnumerable<Product>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Price with VAT(12.5%)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Category</td>
                <td>£@product.Price.ToString("N2")</td>
                <td>£@product.PriceWithVat.ToString("N2")</td>
                <td>
                    <a class="btn btn-outline-info" asp-page="./Edit" asp-route-productId="@product.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>