@page
@model RecruitmentTask.Pages.ProductsModel
@{
    ViewData["Title"] = "Products";
}

<h1>All Products</h1>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-info">Search</button>
            </span>
        </div>
    </div>
</form>

<partial name="_Summary" model="Model.Products"/>