@page
@model RecruitmentTask.Pages.SportModel
@{
    ViewData["Title"] = "Sport products";
}

<h1>Sport products</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-secondary">Search</button> 
            </span>
        </div>
    </div>
</form>

<partial name="_Table" model="Model.SportProducts" />